body {
  text-align: center;
  padding: 20px;
  background-color: #5d0f5d;
}

h1 {
  color: black;
}
p {
  color: black;
  font-size: 25px;
}
button {
  margin-top: 10px;
}

#message {
  font-weight: bold;
  margin-top: 20px;
}
.input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
}
button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  background-color: #5d0f5d;
  color: white;
}

.nav-links a {
  color: white;
}
.logo {
  font-size: 25px;
}
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: black;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}
@media (min-width: 768px) {
  .Puzzle__Container {
    width: 300px;
  }
}
